name: "CI/CD IaC Stack"

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/id_ed25519.pub
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 644 ~/.ssh/id_ed25519.pub
          chmod 600 ~/.ssh/id_ed25519
          # On désactive la vérification d'hôte pour la CI
          echo "StrictHostKeyChecking no" >> ~/.ssh/config

      # --- ÉTAPE 1 : PROVISIONING ---
      - name: OpenTofu Init & Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_USERNAME: ${{ secrets.OS_USERNAME }}
          OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
          OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
          OS_TENANT_ID: ${{ secrets.OS_TENANT_ID }}
          OS_TENANT_NAME: ${{ secrets.OS_PROJECT_NAME }}
          OS_IDENTITY_API_VERSION: ${{ secrets.IDENTITY_API_VERSION }}
        run: |
          cd tofu
          tofu init
          tofu apply -auto-approve
          echo "VM_IP=$(tofu output -raw instance_ip)" >> $GITHUB_ENV

      # --- ÉTAPE 2 : CONFIGURATION ---

      - name: Install Ansible Docker Collection
        run: ansible-galaxy collection install community.docker

      - name: Run Ansible
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_USERNAME: ${{ secrets.OS_USERNAME }}
          OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
          OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
          OS_TENANT_ID: ${{ secrets.OS_TENANT_ID }}
          OS_TENANT_NAME: ${{ secrets.OS_PROJECT_NAME }}
          OS_IDENTITY_API_VERSION: ${{ secrets.IDENTITY_API_VERSION }}
          NODE_IP: ${{ env.VM_IP }}
        run: |
          cd ansible
          # Utilisation de l'inventaire dynamique
          ansible-playbook -i inventory.sh playbook.yml