name: "CI/CD IaC Stack"

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ----------------------------
      # 1️⃣ Checkout du code
      # ----------------------------
      - name: Checkout Code
        uses: actions/checkout@v4

      # ----------------------------
      # 2️⃣ Installer OpenTofu
      # ----------------------------
      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@v1

      # ----------------------------
      # 3️⃣ Setup SSH
      # ----------------------------
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/id_rsa.pub
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 644 ~/.ssh/id_rsa.pub
          chmod 600 ~/.ssh/id_rsa
          echo "StrictHostKeyChecking no" >> ~/.ssh/config

      # ----------------------------
      # 4️⃣ Provisioning avec OpenTofu
      # ----------------------------
      - name: OpenTofu Init & Apply
        working-directory: ./tofu
        run: |
          tofu init
          tofu apply -auto-approve \
            -var="auth_url=${{ secrets.OS_AUTH_URL }}" \
            -var="username=${{ secrets.OS_USERNAME }}" \
            -var="password=${{ secrets.OS_PASSWORD }}" \
            -var="project_name=${{ secrets.OS_PROJECT_NAME }}" \
            -var="region=${{ secrets.OS_REGION_NAME }}"
          echo "VM_IP=$(tofu output -raw instance_ip)" >> $GITHUB_ENV

      # ----------------------------
      # 5️⃣ Installer Ansible et collections
      # ----------------------------
      - name: Install Ansible & Docker Collection
        run: |
          sudo apt update
          sudo apt install -y ansible
          ansible-galaxy collection install community.docker

      # ----------------------------
      # 6️⃣ Exécuter le playbook Ansible
      # ----------------------------
      - name: Run Ansible
        working-directory: ./ansible
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          NODE_IP: ${{ env.VM_IP }}
        run: |
          chmod +x inventory.sh
          ansible-playbook -i inventory.sh playbook.yml